:root {
  --header-color: #ffd413;
  --black-color: black;
  --main-font-color: white;
  --font-color: #333;
}

html {
  scroll-behavior: smooth;
}

.main-title {
  color: var(--font-color);
}

body {
  display: flex;
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header,
footer {
  color: var(--main-font-color);
  padding: 1rem;
  text-align: center;
}

header {
  background-color: var(--header-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: var(--black-color);
}

footer img {
  filter: brightness(0) invert(1);
}

footer p {
  font-size: 0.6rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
  hyphens: auto;
}

.list {
  flex-direction: column;

  a {
    text-decoration: none;
    color: rgb(61, 60, 60);
    font-weight: 600;
  }

  a:hover {
    border-bottom: 1px solid black;
    color: var(--black-color);
    transition: all 0.4s;
  }
}

section {
  padding: 2rem;
}

.page-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.page-panel_main {
  flex: 1 1 auto;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features img {
  margin: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.features img:hover {
  scale: 1.05;
  transition: all 0.4s;
}

.social-icons a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icons a:hover svg {
  color: #ff6347;
  transition: all 0.2s;
}

@media (max-width: 1150px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 698px) {
  .features img:hover {
    scale: 1;
  }
}

/* header */

.header-title {
  text-transform: uppercase;
  max-width: 500px;
  font-weight: 900;
  line-height: 1.3;
  color: var(--font-color);
}

/* about */

.about-wrapper {
  display: flex;
  flex-direction: column;
}

.about-container {
  margin: auto;
}

.about-container__section {
  margin-bottom: 20px;
}

.about-container__main-info,
.about-container__section {
  border-bottom: 1px solid gray;
}
.about-container__title {
  color: var(--font-color);
}

.about-container__href {
  color: #e1306c;
  text-decoration: none;
}

.about-container__href:hover {
  text-decoration: underline;
}

.about-container__main-info {
  margin-bottom: 20px;
}

.about-container__ps {
  font-style: italic;
  color: #555;
}

.about-image-container {
  align-self: center;
  border: 10px solid var(--header-color);
  border-radius: 50%;
}

.about-image {
  border-radius: 50%;
}
